@import "react-alice-carousel/lib/alice-carousel.css";


a{
    text-decoration: none;
}

.displayTrending, .displayUpcoming{
    width: 92%;
    left: 5%;
    position: relative;
    color: white;
    
}

.displayTrending > h1{
    position: initial;
    margin: 20px 0px 10px 0px;
}



.image{
    z-index: 100;
    width: 175%;
    right: 50%;
    top: 100px;
    position: relative;
    height: 200px;
    background: linear-gradient(0deg, rgba(0,0,0,0.9026961126247374) 59%, rgba(3,3,3,0.846673703661152) 68%, rgba(3,3,3,0.7766456924566701) 76%, rgba(5,5,5,0.6589986336331408) 82%, rgba(9,9,9,0.5777661406359419) 89%, rgba(9,9,9,0) 100%);
}

.image > h3{
    position: relative;
    cursor: pointer;
    top: 50px;
    left: 8%;
}

 i{
    color: #d90429
}

.trendingInfo{
    height: 800px;
    color: white;
}

.trendingInfo > h3{
    cursor: pointer;
    width: 90%;
    margin: 80px 10px 0px 0px ;
}

.trendingInfo > p,h4{
    position: relative;
    word-wrap: break-word;
    left: 35%;
    bottom: 240px;
    width: 60%;
}

.trendingInfo > .btn{
    position: absolute;
    
}

.trendingInfo > img{
    margin-top: 10px;
    width: 30%;
    height: 30%;
}
.row{
    height: 520px;
}
.col{
    height: 200px;
}

.displayUpcoming{
    width: 92%;
}

.displayUpcoming > h1 {
    position:  initial;
    margin: 50px 50px 20px 0px;  
    right: 5%;
}

.card-text > h6 {
    color: #d90429 !important;
}

.card{
    margin: 0px 15px 0px 15px;
    background-color: #111111;
    color: white;
}

.card-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-text{
    max-height: 14ch;
    white-space: break-spaces;
    overflow: hidden;
    text-overflow: ellipsis;
}

.slick-slider{
    padding-left: 20px;
    height: 80%;
    width: 100%;
}


