@import "react-alice-carousel/lib/alice-carousel.css";

a{
    text-decoration: none;
}

.displayTrending{
    width: 92%;
    left: 5%;
    position: relative;
    color: white;
    
}

.displayTrending > h1{
    position: initial;
    margin: 20px 0px 10px 0px;
}

.image{
    z-index: 100;
    width: 175%;
    right: 50%;
    top: 100px;
    position: relative;
    height: 200px;
    background: linear-gradient(0deg, rgba(0,0,0,0.9026961126247374) 59%, rgba(3,3,3,0.846673703661152) 68%, rgba(3,3,3,0.7766456924566701) 76%, rgba(5,5,5,0.6589986336331408) 82%, rgba(9,9,9,0.5777661406359419) 89%, rgba(9,9,9,0) 100%);
}

.image > h3{
    position: relative;
    cursor: pointer;
    top: 50px;
    left: 8%;
}

.displayTrending > h1 > i{
    color: #d90429
}

.trendingInfo{
    height: 800px;
    color: white;
}

.trendingInfo > h3{
    cursor: pointer;
    width: 90%;
    margin: 80px 10px 0px 0px ;
}

.trendingInfo > p,h4{
    position: relative;
    word-wrap: break-word;
    left: 35%;
    bottom: 240px;
    width: 60%;
}

.trendingInfo > .btn{
    position: absolute;
    
}

.trendingInfo > img{
    margin-top: 10px;
    width: 30%;
    height: 30%;
}
.row{
    height: 520px;
}
.col{
    height: 200px;
}

.divTop{
    width: 92%;
    top: 10px;
    left: 2.8%;
    position: relative;
}
.divTop > h1{
    margin: 20px 0px 10px 0px;
    position: initial;
    color: white;
}
.divTop > h1 > i {
    color: yellow;
}

.alice-carousel__stage{
    width: 80%;
}

.card{
    margin: 0px 15px 0px 15px;
    background-color: #111111;
    color: white;
}


