
.botoes{
    margin-left: 50px;
    display: inline !important;
    width: 80%;
    border-left: 100px !important;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.botoes > .waves-effect.waves-light.btn{
    width: 15% !important;
    height: 80px;
    margin: 20px;
    background-color: #424242;
    opacity: 0.5;
    float: left;
    
}

.botoes > .waves-effect.waves-light.btn:hover{
    opacity: 1;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    };
    100% {
        opacity: 1;
     };
    }
 